:root {
  --Header-style-text-color: #212121;
  --Header-footer-style-color: #2f303a;
}

body {
  background: #ffffff;
  font-family: "Roboto";
}
.main-botton {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-content-our-team {
  background: #f5f4fa;
}
.main-botton:hover {
  background: #188ce8;
}
.main-botton:focus {
  background: #188ce8;
}

.main-head {
  margin-top: 0px;

  height: 150px;
  background: var(--Header-footer-style-color);
}
.header-Web {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-Studio {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.footer-Studio {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.header-menu-studiy-index {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-menu-portfolio {
  color: #2196f3;
}
.header-menu-studiy {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  color: #757575;
}
.header-menu-studiy:hover {
  color: #2196f3;
}
.header-menu-studiy:focus {
  color: #2196f3;
}
.header-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--Header-style-text-color);
}
.header-menu:hover {
  color: #2196f3;
}
.header-menu:focus {
  color: #2196f3;
}
.main-main-content {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-style {
  height: 252px;
  left: 0px;
  top: 2094px;
  background: var(--Header-footer-style-color);
}
.adress {
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress:hover {
  color: #2196f3;
}
.adress:focus {
  color: #2196f3;
}
.adress-mail-tel {
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}
.adress-mail-tel:hover {
  color: #2196f3;
}
.adress-mail-tel:focus {
  color: #2196f3;
}
.main-botton-all {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: #188ce8;
  cursor: pointer;
}
.main-bottons {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  color: var(--Header-style-text-color);
  cursor: pointer;
}
.main-bottons:hover {
  background: #2196f3;
  color: #ffffff;
}
.main-bottons:focus {
  background: #2196f3;
  color: #ffffff;
}
.main-bottons:active {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.main-content-Benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--Header-style-text-color);
}
.main-content-Benefits-paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-content-review {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--Header-style-text-color);
}
.main-content-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--Header-style-text-color);
}
.main-content-team-personally {
  background: #ffffff;
}
.main-content-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: var(--Header-style-text-color);
}
.main-content-team-paragraph {
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: #757575;
}
.main-menu-img {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--Header-style-text-color);
}
.main-menu-img-content {
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.03em;

  color: #757575;
}
li {
  list-style-type: none; /* Убираем маркеры
  /* text-decoration: none; Отменяем подчеркивание у ссылки */
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
